<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/pacienteDoctor2.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

      <!-- Swiper CSS -->
      <link rel="stylesheet" href="css/swiper-bundle.min.css" />



    <title>Peticiones</title> 
        <!--====== Favicon Icon ======-->
        <link
        rel="shortcut icon"
        href="https://i.ibb.co/2qbH6y4/730-sin-t-tulo-20221221143952.png"
        type="image/svg"
      />
  
</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="https://i.ibb.co/8bjZVfw/731-sin-t-tulo-20221215205600.png" alt="">
            </div>

            <span class="logo_name">Glucky</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="#">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Casa</span>
                </a></li>
                <li><a href="#pacientesjeje">
                    <i class="uil uil-chart"></i>
                    <span class="link-name">Doctor</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-chat"></i>
                    <span class="link-name">Chats</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-plus-circle"></i>
                    <span class="link-name">Asignaciones</span>
                </a></li>
                <li><a href="#">
                  <i class="uil uil-user"></i>
                  <span class="link-name">Personal</span>
                </a></li>
            </ul>
            
            <ul class="logout-mode">
                <li><a href="#">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Salir</span>
                </a></li>

                <li class="mode">
                    <a href="/Glucky/Doctores/EditarCuenta">
                        <i class="uil uil-user-circle"></i>
                    <span class="link-name">Ajustes de cuenta</span>
                </a>

                <div class="mode-toggle">
                 
                </div>
            </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            <div class="search-box">
                <i class="uil uil-circle"></i>
                <input type="text" placeholder="Aplicación glucky para pacientes" disabled>
            </div>

                <div class="icon" onclick="toggleNotifi()">
			        <div class="noti">17</div>
		        </div>

                <div class="notifi-box" id="box">
                    <h2>Notificaciones: <span>17</span></h2>
                    <div class="notifi-item">
                        <img src="https://uxwing.com/wp-content/themes/uxwing/download/checkmark-cross/cross-icon.png" alt="img">
                        <div class="text">
                           <h4>Elias Abdurrahman</h4>
                           <p>@lorem ipsum dolor sit amet</p>
                        </div> 
                    </div>
        
                   
        
                </div>

            <img src="https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png" alt="" onclick="toggleNotifi2()">

            <div class="notifi-box2" id="box2">
                <div class="profile-card">
                    <div class="image">
                      <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" alt="" class="profile-img" />
                    </div>
                    <div class="text-data">
                      <span class="name">Nombre completito jeje</span>
                      <span class="job">Email@cum.com</span>
                      <span class="job">Paciente</span>
                    </div>
              
                    <div class="media-buttons">
                      <a href="#" style="background: #a1a1a136" class="link">
                        <i class="bx bx-plus-medical"></i>
                      </a>
                    
                    </div>
              
                    <div class="buttons">
                      <button class="button" onclick="toggleNotifi2()"">Cerrar</button>
                      <button class="button">Cuenta</>
                    </div>
              
                    <div class="analytics">
                      <div class="data">
                        <i class="bx bx-circle"></i>
                      </div>
                      <div class="data">
                        <i class="bx bx-heart"></i>
                        <span class="number">Paciente</span>
                      </div>
                      <div class="data">
                        <i class="bx bx-award"></i>
                        <span class="number">...</span>
                      </div>
                    </div>
                  </div>
    
            </div>
        
        </div>

        <div class="dash-content">

          
            
          <div class="title">
            <i class="uil uil-abacus" ></i>
            <span class="text">Mis asignaciones</span>
          </div>


          <div class="overlaycard" id="overcardTRATAM" >
            <div class="dispTitulo" id="titucolor">
              <div class="dispTexto"><h3 class="overlay-title">Detalles del tratamiento</h3></div>
              <div class="dispCerrar"><button id="overlay-close" class="overlay-close">×</button></div>
            </div>
            <div class="recuadrodatos">
              <div class="dispo1" id="tituloTratamiento">
              </div>
              <div class="dispo2" id="fechaTratamiento">
              </div>
              <div class="contenido" id="contenidoTratamiento">
              </div>
            </div>
            <div class="formsElEd">
              <br>
            </div>
          </div>
  
  
          <div class="overlaycardDIET verdesC" id="overcardDIET" >
            <div class="dispTitulo" id="titucolor">
              <div class="dispTexto"><h3 class="overlay-title">Detalles de la dieta</h3></div>
              <div class="dispCerrar"><button id="overlay-closeDIet" class="overlay-closeDiet">×</button></div>
            </div>
            <div class="recuadrodatos">
              <div class="dispo1" id="tituloDiet">
              </div>
              <div class="dispo2" id="fechaDiet">
              </div>
              <div class="contenido" id="contenidoDiet">
              </div>
            </div>
            <div class="formsElEd">
              <br>
            </div>
          </div>
  
  
          <div class="overlaycardCITA azulesC" id="overcardCITA" >
            <div class="dispTitulo" id="titucolor">
              <div class="dispTexto"><h3 class="overlay-title">Detalles de la cita</h3></div>
              <div class="dispCerrar"><button id="overlay-closeCITA" class="overlay-closeCita">×</button></div>
            </div>
            
            <div class="recuadrodatos">
              <div class="dispo1" id="tituloCITA">
              </div>
              <div class="dispo2" id="fechaCITA">
              </div>
              <div class="contenido" id="contenidoCITA">
              </div>
            </div>
            <div class="formsElEd">
              <br>
            </div>
          </div>


      
  
        <div class="container">
          <div class="column1">


            <h3 class="name">Citas</h3>
  
            <!--UNA CITA-->  
            <div class="card azulesC">
              <p class="small-content dates">Dia 20-03-2023</p>
              <h4 class="hora">Hora: 6:00 am</h4>
              <h6> fecha de publicación: </h6>
            </div>
            <!--FIN CITA-->  
  
            <!--UNA CITA--> 
            <div class="card azulesC">
              <p class="small-content dates">Dia 21-04-2023</p>
              <h4 class="hora">Hora: 4:50 am</h4>
              <h6> fecha de publicación: </h6>
            </div>
            <!--FIN CITA-->  
            
          </div>


          <div class="column2">

            <!--UN TRATAMIENTO-->  
            <h3  class="name">Tratamientos</h3>
            <div class="card amarillosC">
              <h4>tratamiento uno</h4>
              <p class="small-content"> Paracetamol a las 10:20 am, Gluco coso a las 11:30 am.</p>
              <h6> fecha de publicación:</h6>
            </div>
            <!--FIN TRATAMIENTO-->
  
            <!--UN TRATAMIENTO-->  
            <div class="card amarillosC">
              <h4>tratamiento dos</h4>
              <p class="small-content"> Paracetamol a las 10:20 am, Gluco coso a las 11:30 am</p>
              <h6> fecha de publicación:</h6>
            </div>
            <!--FIN TRATAMIENTO-->


          </div>


          <div class="column3">

            <!--UNA DIETA-->  
            <h3  class="name">Dietas</h3>
            <div class="card verdesC">
              <h4>Dieta 1</h4>
              <p class="small-content">Coco 20 Kcal con sal, Lechuga para el sanwis</p>
              <h6> fecha de publicación:</h6>
            </div>
            <!--FIN DIETA--> 


          </div>



        </div>
    
    

          

    
    <script src="js/asignacionesCitasPacientes.js">


    </script>





  
    
</body>
</html>