<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/chatDoctor.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <script>
      const emisor ='12345678';
      const receptor ='VAFE050315HMCRGNA6';
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <title>Chat</title> 
        <!--====== Favicon Icon ======-->
        <link
        rel="shortcut icon"
        href="https://i.ibb.co/2qbH6y4/730-sin-t-tulo-20221221143952.png"
        type="image/svg"
      />
  
</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="https://i.ibb.co/8bjZVfw/731-sin-t-tulo-20221215205600.png" alt="">
            </div>

            <span class="logo_name">Glucky</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="/Glucky/Doctores/Dashboard">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Dashboard</span>
                </a></li>
                <li><a href="/Glucky/Doctores/Dashboard">
                    <i class="uil uil-chart"></i>
                    <span class="link-name">Pacientes</span>
                </a></li>
                <li><a href="/Glucky/Doctores/Chat">
                    <i class="uil uil-chat"></i>
                    <span class="link-name">Chats</span>
                </a></li>
                <li><a href="/Glucky/Doctores/Peticiones">
                    <i class="uil uil-plus-circle"></i>
                    <span class="link-name">Peticiones</span>
                </a></li>
                <li><a href="/Glucky/Doctores/Citas">
                    <i class="uil uil-schedule"></i>
                    <span class="link-name">Citas</span>
                </a></li>
            </ul>
            
            <ul class="logout-mode">
                <li><a href="/Glucky/IniciodeSesion">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Salir</span>
                </a></li>

                <li class="mode">
                    <a href="#">
                        <i class="uil uil-x"></i>
                    <span class="link-name">Borrar cuenta</span>
                </a>

                <div class="mode-toggle">
                 
                </div>
            </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            <div class="search-box">
                <i class="uil uil-circle"></i>
                <input type="text" placeholder="Aplicación glucky para doctores" disabled>
            </div>


                <div class="icon" onclick="toggleNotifi()">
			        <div class="noti">17</div>
		        </div>

                <div class="notifi-box" id="box">
                    <h2>Notificaciones: <span>17</span></h2>
                    <div class="notifi-item">
                        <img src="https://uxwing.com/wp-content/themes/uxwing/download/checkmark-cross/cross-icon.png" alt="img">
                        <div class="text">
                           <h4>Elias Abdurrahman</h4>
                           <p>@lorem ipsum dolor sit amet</p>
                        </div> 
                    </div>
        
                    <div class="notifi-item">
                        <img src="https://uxwing.com/wp-content/themes/uxwing/download/checkmark-cross/cross-icon.png" alt="img">
                        <div class="text">
                           <h4>John Doe</h4>
                           <p>@lorem ipsum dolor sit amet</p>
                        </div> 
                    </div>
        
                    <div class="notifi-item">
                        <img src="https://uxwing.com/wp-content/themes/uxwing/download/checkmark-cross/cross-icon.png" alt="img">
                        <div class="text">
                           <h4>Emad Ali</h4>
                           <p>@lorem ipsum dolor sit amet</p>
                        </div> 
                    </div>
        
                    <div class="notifi-item">
                        <img src="https://uxwing.com/wp-content/themes/uxwing/download/checkmark-cross/cross-icon.png" alt="img">
                        <div class="text">
                           <h4>Ekram Abu </h4>
                           <p>@lorem ipsum dolor sit amet</p>
                        </div> 
                    </div>
        
                    <div class="notifi-item">
                        <img src="https://uxwing.com/wp-content/themes/uxwing/download/checkmark-cross/cross-icon.png" alt="img">
                        <div class="text">
                           <h4>Jane Doe</h4>
                           <p>@lorem ipsum dolor sit amet</p>
                        </div> 
                    </div>
        
                    <div class="notifi-item">
                        <img src="https://uxwing.com/wp-content/themes/uxwing/download/checkmark-cross/cross-icon.png" alt="img">
                        <div class="text">
                           <h4>Jane Doe</h4>
                           <p>@lorem ipsum dolor sit amet</p>
                        </div> 
                    </div>
        
                    <div class="notifi-item">
                        <img src="https://uxwing.com/wp-content/themes/uxwing/download/checkmark-cross/cross-icon.png" alt="img">
                        <div class="text">
                           <h4>Jane Doe</h4>
                           <p>@lorem ipsum dolor sit amet</p>
                        </div> 
                    </div>
        
                </div>

            <img src="https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png" alt="" onclick="toggleNotifi2()">

            <div class="notifi-box2" id="box2">
                <div class="profile-card">
                    <div class="image">
                      <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" alt="" class="profile-img" />
                    </div>
                    <div class="text-data">
                      <span class="name">Nombre</span>
                      <span class="job">Email@cum.com</span>
                      <span class="job">Doctor</span>
                      <span class="job">Dirección??</span>
                    </div>
              
                    <div class="media-buttons">
                      <a href="#" style="background: #a1a1a136" class="link">
                        <i class="bx bx-plus-medical"></i>
                      </a>
                    
                    </div>
              
                    <div class="buttons">
                      <button class="button" onclick="toggleNotifi2()"">Cerrar</button>
                      <button class="button">Privacidad</>
                    </div>
              
                    <div class="analytics">
                      <div class="data">
                        <i class="bx bx-circle"></i>
                        <span class="number">Glucky</span>
                      </div>
                      <div class="data">
                        <i class="bx bx-heart"></i>
                        <span class="number">Doctor</span>
                      </div>
                      <div class="data">
                        <i class="bx bx-award"></i>
                        <span class="number">...</span>
                      </div>
                    </div>
                  </div>
    
            </div>
        
        </div>

        <div class="dash-content">
            <div class="overview">

                

                
              
                
                <div class="row">
                    <div class="personas" >                        
                        <div class="buscador">
                            <input type="search" class="buscaPss" placeholder="BUSCAR PACIENTES">
                        </div>
                        
                        <div class="personasEl" id="style-2">
                          
                                <div class="persona">
                                    <div class="cont">
                                        <h4 class="Nombre">Isaads</h4>
                                        <div class="mensajesCant">
                                            <h4 class="Estado">tipo 1</h4>
                                            <div class="cantidad">
                                                20
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                
                           
                        </div>
                    </div>
                        <div class="chat" >
                            <div class="chatBo">
                                <div class="chatNom">
                                  
                                        <div class="cont2">
                                            <h4 class="Nombre">Isaads Montoya Rodriguez</h4>
                                        </div>
                                     
                                       
                                    
                                </div>
                                <div class="caja" id="menssages-container">

                                         <div class="message received">
                                        <p>¡Bien, gracias! ¿Y tú?</p>
                                        <span class="time">10:35 AM Isaac</span>
                                        </div>
                                        <div class="message sent">
                                          <p>Hola, ¿cómo estás?</p>
                                          <span class="time">10:32 AM Tú</span>
                                        </div>
                                        
                                 

                                    
                                </div>
                                <div class="escribe">
                                    <input type="text" placeholder="Escribe un mensaje aquí..." class="escribeC">
                                    <button class=" enviarMensaje"> 
                                        <i class="uil uil-play"></i>
                                    </button>
                                    <br>
                                </div>
                                
                        </div>
                    </div>
                  </div>


                <div class="home-content">

                  
   
                    
                </div>
            </div>

        

            

       



            
            

      

  
</div>

    <script src="/js/chatDoctor.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chatDoctorSo.js"></script>
       
    
</body>
</html>