<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        .invisible{
            background-color: transparent; 
            border: solid 1px transparent;
            outline: none;
            cursor: default;
            width: 1px;
            height: 1px;
        }
    </style>
</head>
<body>
    <input type="email" class="invisible" id="correo" name="correo" value="">
    <input type="text" class="invisible" id="nombre_aquien" name="nombre_aquien" value="">
    <input type="url" class="invisible" id="enlace" name="enlace" value="">
</body>
</html>